.navbar .nav>.active>a,.navbar .nav>.active>a:hover,.navbar .nav>.active>a:focus {
	background:#4865b0;	
}
.btn-default {
	background-color:#4865b0;
}
.footerdivide {
	background:#4865b0;
}
.buttoncolor {
	background:#4865b0;
}
.grid figcaption {
	color:#4865b0;
}
.grid figcaption a {	
	background:#4865b0;
}
.colortext {
	color:#4865b0;
}
.colorbg {
	background:#4865b0;
}
 #Section-1 {
	background:#4865b0;
}
 #Section-3 {
	background:#4865b0;
}
 #Section-5 {
	background:#4865b0;
}
 footer {
	background:#4865b0;
}